<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/loginsignup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="background"></div>
    <div class="form-container">
      <div class="form-box">
        <div class="login-header">
          <h1 class="logo-text">Per<span class="highlight">q</span>Club</h1>
          <h2 class="login-title">Login</h2>
        </div>
        <form>
          <input type="email" placeholder="Email" required />
          <input type="password" placeholder="Password" required />
          <button type="submit" class="btn">Login</button>
        </form>
        <a href="#" class="forgot">Forgot Password...?</a>
        <p class="or">Or Login With</p>
        <div class="social-icons">
          <a href="https://facebook.com" target="_blank" class="social-link"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            href="https://accounts.google.com/"
            target="_blank"
            class="social-link"
            ><i class="fab fa-google"></i
          ></a>
          <a
            href="https://appleid.apple.com/"
            target="_blank"
            class="social-link"
            ><i class="fab fa-apple"></i
          ></a>
        </div>
        <p class="or">
          Don't have an account?
          <a class="signup" href="../static/templates/signup.html">Sign Up</a>
        </p>
      </div>
    </div>
  </body>
</html>
